<div class="ui container center aligned topcontainer">
  <h1>Alle Impftermine</h1>

  <div class="ui middle aligned selection divided list">
    <a
      *ngFor="let vaccination of vaccinations"
      class="item is-vaccination-list-item"
      [vaccination]="vaccination"
    >
    </a>

    <div *ngIf="!vaccinations" class="ui active dimmer">
      <div class="ui large text loader">Daten werden geladen</div>
    </div>

    <p *ngIf="vaccinations && !vaccinations.length">
      Keine Impftermine vorhanden.
    </p>
  </div>
</div>
