<div class="ui container center aligned topcontainer">
  <h1>Alle Impftermine</h1>

  <table class="ui compact celled table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Von</th>
        <th>Bis</th>
        <th>Ort</th>
        <th>Plätze</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let vaccination of vaccinations"
        class="is-vaccination-list-item"
        [vaccination]="vaccination"
      ></tr>
    </tbody>
  </table>
</div>
