<div class="ui container center aligned topcontainer">
  <div class="ui stackable middle aligned grid">
    <div class="row">
      <div class="column">
        <div *ngIf="!isLoggedIn()">
          <h1>Login</h1>
          <p>Melden Sie sich mit Ihrer E-Mail Adresse und Ihrem Passwort an, um sich für Impftermine anmelden zu können
            oder als Admin Zugriff auf die Verwaltung zu haben.</p>
          <form class="ui large form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="field">
              <label>E-Mail</label>
              <input type="email" id="username" formControlName="username">
              <div *ngIf="loginForm.get('username').invalid &&
(loginForm.get('username').dirty ||
loginForm.get('username').touched) &&
loginForm.get('username').hasError('required')" class="ui negative
message">
                Bitte geben Sie Ihre E-Mail Adresse ein.</div>
              <div *ngIf="loginForm.get('username').invalid &&
(loginForm.get('username').dirty ||
loginForm.get('username').touched) &&
loginForm.get('username').hasError('email')" class="ui negative
message">
                Bitte überprüfen Sie das Format Ihrer E-Mail Adresse.</div>
            </div>
            <div class="field">
              <label>Passwort</label>
              <input type="password" formControlName="password">
              <div *ngIf="loginForm.get('password').invalid &&
(loginForm.get('password').dirty ||
loginForm.get('password').touched)" class="ui negative message">
                Bitte geben Sie Ihr Passwort ein.</div>
            </div>
            <button type="submit" class="ui button primary-btn"
[disabled]="loginForm.invalid">Anmelden</button>
          </form>
        </div>
        <div *ngIf="isLoggedIn()">
          <h1>Logout</h1>
          <p>Hier können Sie sich wieder aus der Impfplattform ausloggen.</p>
          <button type="button" class="ui button primary-btn"
(click)="logout()">Abmelden</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted segment footer">© 2021 Hannah Nopp</div>