<div class="ui attached stackable menu">
  <div class="ui container">
    <a routerLink="home" routerLinkActive="active" class="item">Startseite </a>
    <a routerLink="vaccinations" routerLinkActive="active" class="item">Terminübersicht
    </a>
    <a *ngIf="isLoggedIn() && isAdmin()" routerLink="editor" routerLinkActive="active" class="item">Termin Editor</a>
    <a *ngIf="isLoggedIn() && isAdmin()" routerLink="users" routerLinkActive="active"
      class="item">Personenverwaltung</a>
    <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
  </div>
</div>
<!-- Komponente, die angezeigt werden soll, weil route aufgerufen wurde -->
<router-outlet></router-outlet>