<div class="ui container center aligned topcontainer">
  <div class="ui stackable middle aligned grid">
    <div class="row">
      <div class="column">
        <a [routerLink]="'/vaccinations'" class="ui"><i class="arrow left
 icon"></i> Zurück zur Terminübersicht</a>
        <br>
        <h1>Details zum Impftermin</h1>
        <h3>Sie haben folgenden Impftermin ausgewählt:</h3>
        <p>
          <b>Datum: </b>{{vaccination?.from | date:'dd.MM.yyyy'}}
          <br />
          <b>Uhrzeit: </b>{{vaccination?.from | date:'HH:mm'}} -
          {{vaccination?.to | date:'HH:mm'}}
          <br />
          <b>Ort: </b>{{vaccination?.location?.name}}
          <br />
          <b>Adresse: </b>{{vaccination?.location?.street}}
          {{vaccination?.location?.houseNo}}, {{vaccination?.location?.zipCode}}
          {{vaccination?.location?.city}}
          <br />
          <b>max. Teilnehmer*innen: </b>{{vaccination?.maxParticipants}}
          <br />
        </p>
        <br>
        <!--<h2>Angemeldete Teilnehmer*innen</h2>-->
        <!-- TODO: User*innen ausgeben -->
        <br>
        <div *ngIf="!authService.isLoggedIn()" class="ui icon message">
          <i class="info circle icon"></i>
          <div class="content">
            <h3>Sie sind nicht angemeldet.</h3>
            <p>Um sich für diesen Impftermin anmelden oder als Admin verwalten zu können, müssen Sie sich <a
                routerLink="../../login" class="linkintext">einloggen</a>.</p>
          </div>
        </div>
        <a *ngIf="authService.isLoggedIn() && authService.isAdmin()" [routerLink]="['../../editor', vaccination?.id]"
          class="ui icon button edit-btn">
          <i class="write icon"></i> Termin bearbeiten
        </a>
        <button *ngIf="authService.isLoggedIn() && authService.isAdmin()" class="ui icon button remove-btn" (click)="removeVaccination()"> <i class="remove icon"></i> Termin löschen</button>

        <h2>Zur Impfung anmelden</h2>
        <!-- TODO: (click)="" für die anmeldung implementieren-->
        <button *ngIf="authService.isLoggedIn() && !authService.isVaccined()" class="ui icon button primary-btn" (click)="bookVaccination()"> <i class="calendar check icon"></i> Jetzt anmelden</button>
        <div *ngIf="authService.isVaccined()" class="ui icon message">
          <i class="info circle icon"></i>
          <div class="content">
            <h3>Sie sind bereits geimpft.</h3>
            <p>Sie haben Ihre Impfung bereits erhalten und können sich daher nicht für einen weiteren Termin anmelden.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted segment footer">© 2021 Hannah Nopp</div>