<div class="ui container center aligned topcontainer">
  <div class="ui stackable middle aligned grid">
    <div class="row">
      <div class="column">
        <a [routerLink]="'/vaccinations'" class="ui"><i class="arrow left
 icon"></i> Zurück zur Terminübersicht</a>
        <br>
        <h1>Details zum Impftermin</h1>
        <h3>Sie haben folgenden Impftermin ausgewählt:</h3>
        <p>
          <b>Datum: </b>{{vaccination?.from | date:'dd.MM.yyyy'}}
          <br />
          <b>Uhrzeit: </b>{{vaccination?.from | date:'HH:mm'}} -
          {{vaccination?.to | date:'HH:mm'}}
          <br />
          <b>Ort: </b>{{vaccination?.location?.name}}
          <br />
          <b>Adresse: </b>{{vaccination?.location?.street}}
          {{vaccination?.location?.houseNo}}, {{vaccination?.location?.zipCode}}
          {{vaccination?.location?.city}}
          <br />
          <b>max. Teilnehmer*innen: </b>{{vaccination?.maxParticipants}}
          <br />
        </p>
        <br>
        <a [routerLink]="['../../admin', vaccination?.id]" class="ui icon button edit-btn">
          <i class="write icon"></i> Termin bearbeiten
        </a>
        <button class="ui icon button remove-btn" (click)="removeVaccination()"> <i class="remove icon"></i> Termin löschen</button>
      </div>
    </div>
  </div>
</div>