<div class="ui container">
  <div class="ui stackable middle aligned grid">
    <!-- FIRST COL -->
    <div class="eight wide column">
      <h1>Willkommen beim COVID-19 Impfservice</h1>
      <h3>Die Anmeldung zur Schutzimpfung ist geöffnet!</h3>
      <a routerLink="../vaccinations" class="ui button primary-btn">
        Zur Termin-Übersicht
      </a>
    </div>

    <!-- SECOND COL -->
    <div class="eight wide column">
      <img
        class="ui image"
        src="https://cdn.jsdelivr.net/gh/hennahn/impfservice-nopp_Angular@master/src/app/images/img-vacc.png"
      />
    </div>

    <!-- THIRD COL -->
    <div class="eight wide column">
      <h2>
        Wir starten <br />
        die Initiative <br />
        <span class="red">"KWM gegen Corona"</span>
      </h2>
    </div>

    <!-- FOURTH COL -->
    <div class="eight wide column">
      <p>
        Die größte weltweite Gesundheitskrise seit vielen Jahrzehnten hat uns
        voll erfasst – mit Auswirkungen auf alle Lebensbereiche. Die massiven
        Einschränkungen durch das Coronavirus können wir beenden. Aber nur
        zusammen! Denn dafür müssen wir Österreicher:innen uns impfen lassen.
        <br /><br />

        <b
          >Um dieses Ziel zu erreichen, braucht es eine gemeinsame,
          überparteiliche Initiative, die transparent und medizinisch fundiert
          über die Impfung informiert: eine, bei der alle mitmachen können, die
          mitmachen wollen</b
        >
      </p>
    </div>
  </div>
</div>
