<div class="ui center aligned container">
  <h1>Willkommen beim COVID-19 Impfservice</h1>
  <p>
    Die größte weltweite Gesundheitskrise seit vielen Jahrzehnten hat uns voll
    erfasst – mit Auswirkungen auf alle Lebensbereiche. Die massiven
    Einschränkungen durch das Coronavirus können wir beenden. Aber nur zusammen!
    Denn dafür müssen wir Österreicher:innen uns impfen lassen.
  </p>

  <h2>Die Anmeldung zur Schutzimpfung ist geöffnet!</h2>
  <!-- Button verlinken -->
  <a routerLink="/" class="ui button primary-btn">Zur Termin-Übersicht</a>
</div>
