<div class="ui container topcontainer">
  <div class="ui stackable middle aligned two column grid">
    <div class="row">
      <!-- FIRST COL -->
      <div class="column">
        <h1>Willkommen beim COVID-19 Impfservice</h1>
        <h3>Die Anmeldung zur Schutzimpfung ist geöffnet!</h3>
        <p>
          Auf unserer Plattform finden Sie alle aktuellen Impftermine – Finden
          Sie den perfekten Termin in Ihrer Nähe und melden Sie sich mit wenigen
          Klicks direkt für Ihre Schutzimpfung an!
        </p>
        <a routerLink="../vaccinations" class="ui button primary-btn">
          Zur Termin-Übersicht
        </a>
      </div>

      <!-- SECOND COL -->
      <div class="column">
        <img
          class="ui image"
          src="https://cdn.jsdelivr.net/gh/hennahn/impfservice-nopp_Angular@master/src/app/images/img-vacc-2.png"
        />
      </div>
    </div>

    <div class="row">
      <!-- THIRD COL -->
      <div class="column">
        <h2>
          Wir starten <br />
          die Initiative <br />
          <span class="red">"KWM gegen Corona"</span>
        </h2>
      </div>

      <!-- FOURTH COL -->
      <div class="column">
        <p>
          Die größte weltweite Gesundheitskrise seit vielen Jahrzehnten hat uns
          voll erfasst – mit Auswirkungen auf alle Lebensbereiche. Die massiven
          Einschränkungen durch das Coronavirus können wir beenden. Aber nur
          zusammen! Denn dafür müssen wir Österreicher:innen uns impfen lassen.
          <br /><br />

          <b
            >Um dieses Ziel zu erreichen, braucht es eine gemeinsame,
            überparteiliche Initiative, die transparent und medizinisch fundiert
            über die Impfung informiert: eine, bei der alle mitmachen können,
            die mitmachen wollen</b>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted segment footer">© 2021 Hannah Nopp</div>